<template>
  <div :style="logo">
    <img class="logo" src="./assets/logo.png">
    <!-- Greeting -->
    <h1>{{greeting}}</h1>
    <!-- Customized message -->
    <p v-if="message">{{message}}</p>
    <!-- Product description -->
    <p>Nappie is dedicated to ensuring your baby never runs out of the cleanest, driest and most comfortable diapers.
      <br>No more midnight diaper-runs, our diapers are delivered on a regular basis for a small monthly fee.
    </p>
    <!-- Call-to-action -->
    <a href="#" @click.prevent>Sign up now! (no credit card required)</a>
  </div>
</template>
<script>
export default {
    props:['to','stage','bg'],
    computed:{
        greeting(){
            if(this.to){
                return `Hello ${this.to}`
            } else {
                return 'Hi there'
            }
        },
        message(){
            switch(this.stage){
                case 'belly':
                    return 'Un prequeño nugget me dijo q estabas esperando'
                case 'baby':
                    return 'Alerta de nuevo bebe'
                default:
                    return null        
            }
        },
        style(){
            return {
                'padding':'3rem',
                'background-color':'#' + this.bg
            }
        }
    }
}
</script>

